.vernacular_wrapper {
    display: grid;
    grid-template-rows: 1fr 90vh 1fr;
    grid-template-columns: 1fr 80vw 1fr;
}

.vernacular_drawing {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}