<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="5.6.0" targetFramework="net461" />
  <package id="Grasshopper" version="6.12.19029.6381" targetFramework="net461" />
  <package id="NUnit" version="3.11.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.12.0" targetFramework="net461" />
  <package id="RhinoCommon" version="6.12.19029.6381" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>