<div class="wrapper_list">
  <ul>
    <li 
    class="category_item" 
    *ngFor="let category of boxes">
      <ul>
        <li 
        class="box_item" 
        *ngFor="let box of category.boxes"
        [class.selected]="box === selectedBox"
        (click)="onSelectBox(box)">
          <div class="box_item_icon" [ngClass]="{'active_box': box === selectedBox}"></div>
          <div class="box_item_footer" *ngIf="box === category.boxes[category.boxes.length - 1]"></div>
          <div class="box_item_details" *ngIf="box === selectedBox">
              <div class="box_item_name">{{box.name}}</div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
