<div class="wrapper-systems">
  <div class="content">
    <div class="language" *ngFor="let lang of languages">
      <div class="language__title">
        <div class="language__title__name">{{lang.name}}<span *ngIf="languageContainsSelectedDialect(lang)">/{{selectedDialect.name}}</span></div>
        <div class="language__title__version">
            <span *ngIf="!languageContainsSelectedDialect(lang)">{{lang.version}}</span>
            <span *ngIf="languageContainsSelectedDialect(lang)">{{selectedDialect.version}}</span>
        </div>
      </div>
      <div class="language__description">
        {{lang.description}}
        <span *ngIf="languageContainsSelectedDialect(lang)"> / {{selectedDialect.description}}</span>
      </div>
      <div class="language__dialects">
        <div 
        class="dialect" 
        id="dialect_{{dialect.name}}"
        *ngFor="let dialect of lang.dialects" 
        [ngClass]="{'dialect--spaced' : dialect != lang.dialects[0], 'dialect--selected': selectedDialect == dialect}"
        (click)="onSelectDialect(dialect)">
        {{dialect.name}}
        </div>
        <a *ngIf="languageContainsSelectedDialect(lang)" routerLink="/{{lang.name}}/{{selectedDialect.name}}" class="language__dialects__launch">
          >
        </a>
      </div>
    </div>
  </div>


  
</div>
