<div class="concept_wrapper">
  <div class="concept_statement">
    <h1>architecture with/out architects</h1>
    <br><br><br>
    Our world and its workings are composed of, by, and for a collection of black boxes: 
    composite actors “so firmly established that we are able to take [their] interior for granted” (Latour).
    Your toothbrush is as much a black box as your laptop or the “cloud” that powers it; why they work is concealed from you and this knowledge is not necessary for them to function. 
    As digital systems both augment and abuse this part of current human condition, the black box becomes a source of convenience in place of control. If our tools for living and, by extension, design, continue to get smarter and to take on previously human tasks,
    <b>what is the role of the (human) architect’s agency in a future automated architecture?</b>
    <br><br>
    I ask this, but the question will be pointless some day. Increasingly smart tools, our apparatus for creation, question expertise and imply an expiration date for human autonomy. 
    This is artificial intelligence: tool as indistinguishable from the user. But this is not yet now.
    Today, where we once used tools to execute programs, we now design tools that also conceive of and execute programs.
    <b>This is automation: tools that make tools -- not tools that make. </b>
    <br>
    <br>
    Every tool is a black box.
    But we must reconsider our interface with them as a source of productive conflict.
    Novelty can spring from accident before the otherwise recursive system is complete.
    This is an opportunity; tools can be made, tools can make tools, and tools can be let go.


  </div>

</div>
