.concept_wrapper {
    display: grid;
    grid-template-rows: 1fr 50vh 1fr;
    grid-template-columns: 1fr 60vw 1fr;
}

.concept_statement {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;

    font-size: 1.75vh;
}