.wrapper_main {
    display: grid;
    grid-template-rows: 10vw calc(100vh - 20vw) 10vw;
    grid-template-columns: 10vw 80vw 10vw;
}

.content {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;

    background: yellow;
}

.navigation {
    grid-row: 3 / span 1;
    grid-column: 1 / span 3;
    
    background: green;
}