<div class="precedent_wrapper">
  <div class="precedent_frei_title">
    <h1>frei otto</h1>
    <br>
    architects that make tools
  </div>
  <div class="precedent_frei">
    <img src="../../assets/img/p_frei.png">
  </div>

  <div class="precedent_venky_title">
    <h1>mechanical turk</h1>
    <br>
    tools that make tools
  </div>
  <div class="precedent_venky">
    <img src="../../assets/img/p_turk.png">
  </div>

  <div class="precedent_sol_title">
    <h1> sol lewitt</h1>
    <br>
    tools that make architects
  </div>
  <div class="precedent_sol">
    <img src="../../assets/img/p_sol.png">
  </div>
</div>