.precedent_wrapper {
    display: grid;
    grid-template-columns: 1fr 30vw 30vw 30vw 1fr;
    grid-template-rows: 1fr 10vh 40vh 1fr;
}

.precedent_frei {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.precedent_frei_title {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;

    text-align: center;
}

.precedent_venky {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.precedent_venky_title {
    grid-column: 3 / span 1;
    grid-row: 2/ span 1;

    text-align: center;
}

.precedent_sol {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.precedent_sol_title {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;

    text-align: center;
}