.premise_list {
    list-style-type: none;
}

.premise_card {
    width: 100%;
    display: grid;

    grid-template-columns: 4vh 1fr;
    grid-template-rows: 1fr;

    margin-bottom: 0.75vh;
}

.premise_number {
    font-size: 1.5vh;
    line-height: 1.5vh;

}

.premise_title {
    font-size: 1.5vh;
    line-height: 1.5vh;

    color: gainsboro;
}

.premise_title:hover {
    color: black;
    cursor: pointer;
}

.active_premise {
    color: black !important;
}